@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-top: 200px;
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
}

h1, button {
    letter-spacing: 5px;
}

h1 {
    font-size: 30px;
    color: forestgreen;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
}

button {
    margin-top: 20px;
    background-color: forestgreen;
    color: white;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(55, 167, 55);
}

button:active {
    transform: translateY(5px);
}

h3 {
    font-size: 40px;
    background-color: beige;
    color:darkred;
    padding: 5px 20px;
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    letter-spacing: 10px;
   
}

img.password {
    margin: auto;
}

@media only screen and (max-width:600px) {
    
    h1, button, h3 {
        width: 90vw;
        font-size:1rem;
    }
}